.logo-wrapper {
    width: 100px;
    box-sizing: border-box;
    display: grid;
    justify-items: center;
}

.logo-text-red {
    position: relative;
    color: red;
    font-size: 26px;
    font-weight: 700;
  
}

.logo-text-red::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 15%;
    border-bottom: 2px solid red;
}

.logo-text-black {
    font-size: 26px;
    font-weight: 700;
}

.logo-subtext {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 800;
}